# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*.so
env/
.venv/
build/
dist/
*.egg-info/

# Node / front-end
node_modules/
npm-debug.log*
pnpm-debug.log*
dist/
coverage/

# Cypress output
frontend/cypress/screenshots/
frontend/cypress/videos/

# Test artefacts
out/

# Docker
*.tar
*.img
__docker_build*/

# IDEs / Misc
.idea/
*.swp

# Generated artefacts
backend/static/

# Local environment
.env

